@using OnTimeSpeed.Utils
@using Newtonsoft.Json

@model OnTimeSpeed.Models.MainModel

@Styles.Render("~/Content/Index")

@{
    ViewBag.Title = "Home Page";
    var ontimeUrl = AppSettings.Get("ontimeUrl");
    var clientId = AppSettings.Get("clientId");
    var appUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    var connectUrl = $"{ontimeUrl}/auth?response_type=code&client_id={clientId}&redirect_uri={appUrl}Home/GetAuthCode&scope=read%20write";
    var containerClass = Model == null ? "hide" : "";

    var serializedHrPro = JsonConvert.SerializeObject(Model.HrProUser);
    var raw = serializedHrPro.Replace("HRPRO\\\\", "");

}


@if (Model.OnTimeUser == null)
{
    <a href="@connectUrl" class="connectBtn hide">
        <i class="fas fa-sign-in-alt"></i>
        Prijavi se u OnTime
    </a>
}
else
{
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col s12">
                <nav>
                    <div class="nav-wrapper blue-grey darken-3">
                        <div class="col s12" style="padding-left: 20px;" id="breadCrumbs">
                            <a href="#!" onclick="getWorkLogs()" class="breadcrumb clickable">Sve</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col s12">
                <div id="workLogChart"></div>
            </div>
            <br />

            @*<ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">filter_drama</i>
                        First
                    </div>
                    <div class="collapsible-body">
                        @Html.Partial("_AutomaticEntry")
                        <div style="clear: both"></div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">place</i>
                        Second
                    </div>
                    <div class="collapsible-body">
                        @Html.Partial("_SemiAutomaticEntry")
                        <div style="clear: both"></div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">whatshot</i>
                        Third
                    </div>
                    <div class="collapsible-body">
                        @Html.Partial("_CustomEntry")
                        <div style="clear: both"></div>
                    </div>
                </li>
            </ul>*@

            @Html.Partial("_AutomaticEntry")
            @Html.Partial("_SemiAutomaticEntry")
            @Html.Partial("_CustomEntry")



        </div>
    </div>

    @Html.Partial("_Modals")

}

@section scripts {
    <script type="text/html" id="entry-template">
        <div class="buttonPreselects">
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'lastM')">
                <span>Prošli mjesec</span>
            </a>
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'lastW')">
                <span>Prošli tjedan</span>
            </a>
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'thisW')">
                <span>Ovaj tjedan</span>
            </a>
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'thisM')">
                <span>Ovaj mjesec</span>
            </a>
        </div>
        <div class="dateRangePickers">
            <div class="dateFromHolder dateHolder">
                <label>Datum od</label>
                <input type="text" class="datepicker dateFrom">
            </div>
            <div class="dateToHolder dateHolder">
                <label>Datum do</label>
                <input type="text" class="datepicker dateTo">
            </div>
            <div class="timeHolder" data-bind="css: {'maxAmountSelected': $data.workAmount() > 8}">
                <label>Broj sati po danu</label>
                <a href="#" class="btn btn-plus btn-small teal darken-3"
                   data-bind="click: increaseWorkAmount, attr: {class : 'btn btn-plus btn-small ' + $data.styleClass + ' ' + $data.preselectsType}, css: {'disabled': $data.workAmount() > 8 }">
                    <i class="fal fa-plus"></i>
                </a>
                <a href="#"
                   data-bind="click: decreaseWorkAmount, attr: {class : 'btn btn-minus btn-small ' + $data.styleClass + ' ' + $data.preselectsType}, css: {'disabled': $data.workAmount() <= 0 }">
                    <i class="fal fa-minus"></i>
                </a>
                <a href="#"
                   data-bind="click: maxWorkAmount, attr: {class : 'btn btn-plusMax btn-small ' + $data.styleClass + ' ' + $data.preselectsType}" title="Napuni do 8h po danu">
                    <i class="fal fa-chevron-double-right"></i>
                </a>
                <input type="number" class="workAmountInput" min="-1" max="8"
                       data-bind="value: $data.workAmount, css: {'maxAmount': $data.workAmount() > 8}" />
            </div>
        </div>
    </script>

    <script type="text/javascript">
        var allWorkTypes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.AllWorkTypes))');
        if (allWorkTypes) {
            for (var i = 0; i < allWorkTypes.length; i++) {
                allWorkTypes[i].chosen = ko.observable(false);
                allWorkTypes[i].active = ko.observable(false);
            }
        }
        function ViewModel() {
            var self = this;

            self.userSettings = ko.observable({
                chosenWorkTypes: ko.observableArray([]),
                chosenWorkItems: ko.observableArray([]),
                templates: ko.observableArray([])
            });

            self.breadCrumbs = ko.observableArray([]);
            self.ontimeUser = ko.observable(JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.OnTimeUser))'));
            self.hrproUser = ko.observable(JSON.parse('@Html.Raw(raw)'));

            self.activeWorkItem = ko.observable();
            self.activeWorkType = ko.observable();

            self.searchResultWorkItems = ko.observableArray([]);
            self.allWorkTypes = ko.observableArray(allWorkTypes);

            self.workTypeSearchStr = ko.observable();

            self.searchResultWorkTypes = ko.computed(function () {
                return self.allWorkTypes().filter(function (type) {
                    if (!self.workTypeSearchStr() || type.name.toLowerCase().indexOf(self.workTypeSearchStr().toLowerCase()) !== -1)
                        return type;
                });
            }, this);

            self.chosenWorkTypes = ko.computed(function () {
                var result = [];
                for (var i = 0; i < self.allWorkTypes().length; i++) {
                    var item = self.allWorkTypes()[i];
                    for (var j = 0; j < self.userSettings().chosenWorkTypes().length; j++) {
                        if (item.id == self.userSettings().chosenWorkTypes()[j].id) {
                            result.push(item);
                            break;
                        }
                    }
                }
                return result;
            });

            self.automaticEntry = ko.observable({
                styleClass: 'grey',
                styleType: 'darken-3',
                textClass: 'white-text',
                textType: '',
                buttonType: 'darken-4'
            });

            self.semiAutomaticEntry = ko.observable({
                elementId: 'semiAutomaticEntry',
                styleClass: 'teal',
                styleType: 'darken-3',
                textClass: 'grey-text',
                textType: 'text-darken-4',
                buttonType: 'darken-4',
                preselectsType: 'darken-2',
                workAmount: ko.observable(1),
                description: ko.observable('')
            });

            self.customEntry = ko.observable({
                elementId: 'customEntry',
                styleClass: 'blue-grey',
                styleType: 'darken-3',
                textClass: 'white-text',
                textType: '',
                buttonType: 'darken-4',
                preselectsType: 'darken-2',
                workAmount: ko.observable(1),
                description: ko.observable('')
            });
        }

    </script>
    @Scripts.Render("~/bundles/Index")
}
