@using OnTimeSpeed.Utils
@using Newtonsoft.Json

@model OnTimeSpeed.Models.MainModel

@Styles.Render("~/Content/Index")

@{
    ViewBag.Title = "Home Page";
    var ontimeUrl = AppSettings.Get("ontimeUrl");
    var clientId = AppSettings.Get("clientId");
    var appUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    var connectUrl = $"{ontimeUrl}/auth?response_type=code&client_id={clientId}&redirect_uri={appUrl}Home/GetAuthCode&scope=read%20write";
    var containerClass = Model == null ? "hide" : "";

    var serializedHrPro = JsonConvert.SerializeObject(Model.HrProUser);
    var raw = serializedHrPro.Replace("HRPRO\\\\", "");

}


@if (Model.OnTimeUser == null)
{
    <a href="@connectUrl" class="connectBtn hide">
        <i class="fas fa-sign-in-alt"></i>
        Prijavi se u OnTime
    </a>
}
else
{
    <div class="spinner main">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col s12">
                <nav>
                    <div class="nav-wrapper blue-grey darken-3">
                        <div class="col s12" style="padding-left: 20px;" id="breadCrumbs">
                            <a href="#!" onclick="getWorkLogs()" class="breadcrumb clickable">Sve</a>
                        </div>
                        <!-- ko if: breadCrumbs().length > 0 -->
                        <div class="deleteWorkLogsIcon" data-bind="click: deleteWorkLogsValidate" title="Obriši logove u odabranom periodu">
                            <i class="fad fa-eraser"></i>
                        </div>
                        <!-- /ko -->
                    </div>
                </nav>
            </div>
            <div class="col s12">
                <div id="workLogChart"></div>
            </div>
            <br />
            <div class="col s12">
                <ul class="collapsible popout">
                    <li data-bind="with: automaticEntry">
                        <div class="collapsible-header" data-bind="click: onAccordionOpen.bind($data, 0),
                             attr: {class : 'collapsible-header ' + $data.styleClass + ' ' + $data.titleType + ' ' + $data.textClass + ' ' + $data.textType}">
                            <i class="fad fa-magic"></i>
                            <i class="fad fa-info-circle infoIcon" data-bind="click: openAutomaticEntryModalInfo"></i>
                            Automagični unos
                        </div>
                        <div class="collapsible-body">
                            @Html.Partial("_AutomaticEntry")
                        </div>
                    </li>
                    <li data-bind="with: semiAutomaticEntry">
                        <div class="collapsible-header" data-bind="click: onAccordionOpen.bind($data, 1),
                             attr: {class : 'collapsible-header ' + $data.styleClass + ' ' + $data.titleType + ' ' + $.data.textClass + ' ' + $data.textType}">
                            <i class="fad fa-sparkles"></i>
                            <i class="fad fa-info-circle infoIcon" data-bind="click: openSemiAutomaticEntryModalInfo"></i>
                            Polu-automagični unos
                        </div>
                        <div class="collapsible-body">
                            @Html.Partial("_SemiAutomaticEntry")
                        </div>
                    </li>
                    <li data-bind="with: customEntry">
                        <div class="collapsible-header" data-bind="click: onAccordionOpen.bind($data, 2),
                             attr: {class : 'collapsible-header ' + $data.styleClass + ' ' + $data.titleType + ' ' + $.data.textClass + ' ' + $data.textType}">
                            <i class="fad fa-user-edit"></i>
                            <i class="fad fa-info-circle infoIcon" data-bind="click: openCustomEntryModalInfo"></i>
                            Ručni unos
                        </div>
                        <div class="collapsible-body">
                            @Html.Partial("_CustomEntry")
                        </div>
                    </li>
                    <!-- ko if: $data.userSettings().templates().length > 0-->
                    <li data-bind="with: templateModel">
                        <div class="collapsible-header" data-bind="click: onAccordionOpen.bind($data, 3),
                             attr: {class : 'collapsible-header ' + $data.styleClass + ' ' + $data.titleType + ' ' + $.data.textClass + ' ' + $data.textType}">
                            <i class="fad fa-stream"></i>
                            @*<i class="fad fa-info-circle infoIcon" data-bind="click: openTemplateEntryModalInfo"></i>*@
                            Predlošci
                        </div>
                        <div class="collapsible-body">
                            @Html.Partial("_Templates")
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            @*<div class="col s12 m12">
                    @Html.Partial("_AutomaticEntry")
                </div>
                <div class="col s12 m12">
                    @Html.Partial("_SemiAutomaticEntry")
                </div>
                <div class="col s12 m12">
                    @Html.Partial("_CustomEntry")
                </div>*@



        </div>
    </div>

    @Html.Partial("_Modals")

}

@section scripts {
    <script type="text/html" id="entry-template">
        <div class="buttonPreselects">
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'lastM')">
                <span>Prošli mjesec</span>
            </a>
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'lastW')">
                <span>Prošli tjedan</span>
            </a>
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'thisW')">
                <span>Ovaj tjedan</span>
            </a>
            <a data-bind="attr: {class : 'waves-effect waves-light btn ' + $data.styleClass + ' ' + $data.preselectsType},
               click: preselectRange.bind($data, 'thisM')">
                <span>Ovaj mjesec</span>
            </a>
        </div>
        <div class="dateRangePickers">
            <div class="dateFromHolder dateHolder">
                <label>Datum od</label>
                <input type="text" class="datepicker dateFrom">
            </div>
            <div class="dateToHolder dateHolder">
                <label>Datum do</label>
                <input type="text" class="datepicker dateTo">
            </div>
            <!-- ko if: $data.showTimePicker -->
            <div class="timeHolder" data-bind="css: {'maxAmountSelected': $data.workAmount() > 8}">
                <label>Broj sati po danu</label>
                <a href="#" class="btn btn-plus btn-small teal darken-3"
                   data-bind="click: increaseWorkAmount, attr: {class : 'waves-effect waves-light btn btn-plus btn-small ' + $data.styleClass + ' ' + $data.preselectsType}, css: {'disabled': $data.workAmount() > 8 }">
                    <i class="fal fa-plus"></i>
                </a>
                <a href="#"
                   data-bind="click: decreaseWorkAmount, attr: {class : 'waves-effect waves-light btn btn-minus btn-small ' + $data.styleClass + ' ' + $data.preselectsType}, css: {'disabled': $data.workAmount() <= 0 }">
                    <i class="fal fa-minus"></i>
                </a>
                <a href="#"
                   data-bind="click: maxWorkAmount, attr: {class : 'waves-effect waves-light btn btn-plusMax btn-small ' + $data.styleClass + ' ' + $data.preselectsType}" title="Napuni do 8h po danu">
                    <i class="fal fa-chevron-double-right"></i>
                </a>
                <input type="number" class="workAmountInput" min="-1" max="8"
                       data-bind="value: $data.workAmount, css: {'maxAmount': $data.workAmount() > 8}" />
            </div>
            <!-- /ko -->
        </div>
    </script>

    <script type="text/javascript">
        var allWorkTypes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.AllWorkTypes))');
        if (allWorkTypes) {
            for (var i = 0; i < allWorkTypes.length; i++) {
                allWorkTypes[i].chosen = ko.observable(false);
                allWorkTypes[i].active = ko.observable(false);
            }
        }

        var onTimeUserSerialized = '@Html.Raw(JsonConvert.SerializeObject(Model.OnTimeUser))';
        var hrproUserSerialized = '@Html.Raw(raw)';
        var monthsBack = @AppSettings.GetInt("monthsBack");

    </script>
    @Scripts.Render("~/bundles/Index")
}
